:root {
  --simple-black: #121217;
  --purple-black: #181824;
  --purple-dark: #3a319e;
  --purple: #4c5cf4;
  --purple-middle: #a29aff;
  --purple-light: #c4c8e3;
  --purple-white: #f3f4f9;
  --golden: #dca037;
  --yelloy: #fae4ae;
  --gray: #e4eaf3;
  --white: #ffffff;
  --red: #982a34;
}
